@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100;
    font-family: system-ui, sans-serif;
  }
}

/* global.css */
.input {
  @apply w-full rounded-lg border border-neutral-300 dark:border-neutral-700 bg-white dark:bg-neutral-800 p-3 text-sm outline-none focus:ring-2 focus:ring-amber-700;
}
